<div class="mx-auto w-[80vw]">
  <h1 class="text-center text-2xl font-bold mb-4">{{ collection.title }}</h1>
  <p>{{ collection.description }}</p>
  
  <div>
    <ul class="grid grid-cols-2 sm:grid-cols-3 md:grid-cols-4 lg:grid-cols-5 gap-6">
      {% for product in collection.products %}
        <li class="border p-4 rounded">
          <a href="{{ product.url }}">
            <img src="{{ product.featured_image | img_url: '400x' }}" alt="{{ product.title }}">
            <h3 class="text-lg font-semibold mt-2">{{ product.title }}</h3>
            <p class="text-sm text-gray-500">
              {{ product.price | money }}
            </p>
          </a>
        </li>
      {% endfor %}
    </ul>
  </div>

</div>
