<div x-data="{ selectedVariantId: '{{ product.first_available_variant.id }}' }" class="grid grid-cols-1 md:grid-cols-2">
    <!-- Image -->
    <div class="flex justify-center">
        <img src="{{ product.featured_image | img_url: 'small' }}" alt="{{ product.title }}" class="w-1/2 h-auto">
    </div>

    <!-- Product Info -->
    <div>
        <h1>{{ product.title }}</h1>

        {% assign authors = product.metafields.custom.authors | parse_json %}
        <ul>
            {% for author in authors %}
                <li>{{ author }}</li>
            {% endfor %}
        </ul>

        <p>{{ product.price | money }}</p>

        <form @submit.prevent>
            <div class="flex items-center gap-4">
                {% for variant in product.variants %}
                    <label
                        :for="'variant-{{ variant.id }}'"
                        :class="{ 'bg-black text-white': selectedVariantId == '{{ variant.id }}' }"
                        class="cursor-pointer block p-2 border rounded mb-1"
                    >
                        {{ variant.title }}
                        <input
                            type="radio"
                            name="variant_id"
                            :id="'variant-{{ variant.id }}'"
                            value="{{ variant.id }}"
                            :checked="selectedVariantId == '{{ variant.id }}'"
                            @change="selectedVariantId = '{{ variant.id }}'"
                            class="sr-only"
                        >
                    </label>
                {% endfor %}
            </div>

            <button
                class="bg-blue-600 text-white px-3 py-1 mt-2 rounded"
                @click="$store.cart.addToCart(selectedVariantId, 1)"
            >
                Add to cart
            </button>
        </form>
    </div>
</div>