{% liquid 
  assign authors = product.metafields.custom.authors | escape
%}

<script>
  window.variants = {{ product.variants | json }}
</script>

<div 
  x-data="{ 
    selectedVariant: window.variants.find(v => v.id === {{ product.first_available_variant.id }}), 
    variants: window.variants 
  }" 
  class="page-padding grid grid-cols-1 md:grid-cols-2"
>
  <!-- Image -->
  <div class="flex justify-center">
    <img :src="selectedVariant.featured_image?.src || '{{ product.featured_image | img_url: 'large' }}'" alt="{{ product.title }}" class="w-1/2 h-auto">
  </div>

  <!-- Product Info -->
  <div x-data="$store.cart">
    <h1 class="text-2xl">{{ product.title }}</h1>

    
    <ul class="">
    {% for author in authors %}
        <li>{{ author | strip }}</li>
    {% endfor %}
    </ul>

    <p class="my-4 text-xl" x-text="$store.cart.formatCurrency(selectedVariant.price)"></p>

    <form @submit.prevent="$store.cart.addToCart(selectedVariant.id, 1)">
      <div class="flex items-center gap-4">
        {% for variant in product.variants %}
          <label
            :for="'variant-{{ variant.id }}'"
            :class="{ 'bg-black text-white': selectedVariant.id == {{ variant.id }} }"
            class="cursor-pointer block p-2 border rounded mb-1"
          >
            {{ variant.title }}
            <input
              type="radio"
              name="variant_id"
              :id="'variant-{{ variant.id }}'"
              value="{{ variant.id }}"
              :checked="selectedVariant.id == {{ variant.id }}"
              @change="selectedVariant = variants.find(v => v.id == {{ variant.id }})"
              class="sr-only"
            >
          </label>
        {% endfor %}
      </div>

      <button
        class="bg-blue-600 text-white px-3 py-1 mt-2 rounded"
       type="submit"
      >
        Add to cart
      </button>
    </form>

    <div class="mt-6">
        <h3 class="mb-2">Synposis</h3>
        <p>{{ product.description }}</p>
    </div>

  </div>
</div>